.mademarket-extension-box input,
.mademarket-extension-box button {
  font-size: 1.5rem;
  padding: 6px 8px;
  font-family: Arial, sans-serif;
}

.mademarket-extension-box button {
  cursor: pointer;
}

.mademarket-extension-box input {
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.mademarket-extension-box button:hover {
  background-color: #eee;
}
